<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  </body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="topnav">
<br>
<h1><font color = "">COREQUADLABS PVT. LTD. </font></h1>
        <nav>
          <ul class="navbar navbar-light bg-light">
            <li><%= link_to "Home", home_index_path %></li>	
	    <li><%= link_to "About Us", about_index_path %></li>
	    <li><%= link_to "Contact Us", contact_index_path %></li>
	    <li><%= link_to "FAQ's", faq_index_path %></li></br>
	    <li><%= link_to "Sign Up", users_path %></li></br>
          </ul>
        </nav>
      </div>
    </header>

    <div class="topnav">
      <%= yield %>
    </div>
</html>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>	
<br>
<br>
<br>
<br>
<br>
<br>

<p><div align = "right"> &copy; 2019 Corequadlabs Pvt. Ltd. All Rights Reserved </p>


